/*   MOBILE LAYOUT   */

@media screen and (max-width: 768px) {

    h2{
        margin: 0 !important;
    }

    .mobile-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 0 20px 0;
        padding: 0;
    }

    .story-wrapper{
        width: 90%;
        border: 1px solid #6B9080;
        margin: 0 auto;
        padding: 0;
        height: 600px;
    }

    .text-content{
        margin: 20px;
    }

    .map-wrapper{
        width: 90%;
        flex-grow: 1;
        margin: 0 auto;
        padding: 0;
        border: 1px solid #6B9080;
        height: 600px;
    }

    .story-map-wrapper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        border: 1px solid #6B9080;
    }

    .story-map-tab{
        width: 50%;
        margin: 10px;
        border: 1px solid grey;
        border-radius: 15px;
        /* padding: 10px 0px 10px 0px; */
        text-align: center;
        background-color: #6B9080;
    }

    .story-map-tab:hover{
        cursor: pointer;
        background-color: #6b9080c4;
    }

    .story-map-tab h2{
        color: #ffffff;
    }

}