p {
    font-size: 18px;
    margin-bottom: 15px !important;
}

h2 {
    font-size: 32px;
    margin-bottom: 15px !important;
    color: #6B9080;
    text-align: center;
}

.no-dec-link:hover{
    cursor: auto;
    text-decoration: none !important;
}

a{
    color:#6B9080;
}

h3{
    color: #6B9080;
    font-style: italic;
}

.divider{
    border: 3px solid #A4C3B2;
    margin: 5px 0px 15px 0px;
}

.plus-sign-image{
    width: 25px;
    margin-top: 15px;
}

.minus-sign-image{
    width: 40px;
    margin-top: 5px;
}

.cursor-effect:hover{
    cursor: pointer;
}

.marker{
    margin-right: 10px;
    vertical-align: middle;
}

.bold{
    font-weight: bold;
}

a:visited{
    color:#6B9080;
}

/* section{
    border: 1px solid #6B9080;
    margin-bottom: 10px;
    padding: 15px;
} */

section{
    padding: 5px;
}

.to-top{
    margin-left:20px;
}

.accordion-wrap{
    display:flex;
    flex-direction: row;
    padding: 0;
}

.accordion-left{
    width: 90%;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.accordion-right{
    width: 20%;
    vertical-align: middle;
}

.accordion-wrap:hover{
    cursor: pointer;
}

.location-thumb{
    max-height: 120px;
    margin-right:5px;
}

.caption{
    font-size: 10px;
}