
/*    DESKTOP LAYOUT    */

.trail-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: row;
    min-height: 800px;
}

.story-wrapper{
    /* max-width: 75%; */
    width: 50%;
    /* min-width: 25%; */
    border: 2px solid #273E47;
    padding: 50px 20px 20px 20px;
    /* resize: horizontal;
    overflow: auto; */
}

.map-wrapper{
    flex-grow: 2;
    border: 1px solid grey;
    background-color: lightsteelblue;
    text-align: center;
}

.story-map-wrapper{
    display: none;
}

.hidden {
    display: none;
}

.selected{
    background-color: #a4c3a4 !important;
}


/*   MOBILE LAYOUT   */

@media screen and (max-width: 768px) {

    .trail-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 0 20px 0;
        padding: 0;
    }

    .story-wrapper{
        width: 90%;
        border: 2px solid #273E47;
        margin: 0 auto;
        padding: 0;
    }

    .map-wrapper{
        width: 90%;
        flex-grow: 1;
        margin: 0 auto;
        padding: 0;
        border: 2px solid grey;
        background-color: lightsteelblue;
    }

    .story-map-wrapper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        border: 2px solid grey;
    }

    .story-map-tab{
        width: 50%;
        margin: 10px;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 10px 0px 10px 0px;
        text-align: center;
        background-color: #CCE3DE;
    }

}