.trail-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: row;
    min-height: 800px;
}

.story-wrapper{
    max-width: 75%;
    width: 50%;
    min-width: 25%;
    border: 2px solid #273E47;
    padding: 50px 20px 20px 20px;
    /* resize: horizontal;
    overflow: auto; */
}

.map-wrapper{
    flex-grow: 2;
    border: 1px solid grey;
    background-color: lightsteelblue;
    text-align: center;
}