/* Setting up control of which layout to display: */

@media screen and (max-width: 768px) {
    .mobile-only{
        display: flex;
    }

    .large-only{
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .large-only{
        display: flex;
    }

    .mobile-only{
        display: none;
    }
}


.trail-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: row;
    max-height: 700px;
}

.story-wrapper{
    /* max-width: 75%; */
    width: 30%;
    /* min-width: 25%; */
    border: 2px solid #273E47;
    padding: 50px 20px 20px 20px;
    /* resize: horizontal;
    overflow: auto; */
    overflow: scroll;
}

.map-wrapper{
    flex-grow: 2;
    border: 1px solid grey;
    /* background-color: lightsteelblue; */
    text-align: center;
}

.story-map-wrapper{
    display: none;
}

.hidden {
    display: none;
}

.selected{
    background-color: #a4c3a4 !important;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}